body {
    background-color: darkgrey;
}
.column {
    position: absolute;
    top: 5px;
    bottom: 5px;
    border: 5px solid;
    border-radius: 7px;
    background-color: white;
    margin: 10px;
}
.userColumn {
    float: left;
    width: 15%;
    background-color: grey;
}
.profile {
    color: whitesmoke;
    padding: 5px;
    padding-left: 10px;
}
.ownProfile {
    border-bottom: 5px solid;
    border-color: black;
}
.contacts {
    height: 82%;
    overflow-y: scroll;
}
.settings {
    border-top: 5px solid;
    border-color: black;
}
.messageBox  {
    right: 5px;
    width: 80%;
    float: right;
}
form {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    padding: 5px;
    border-top: 5px solid;
    background-color: grey;
}
#currentMessage {
    width: 94%
}
#sendMessage {
    position: absolute;
    right: 5px;
    width: 5%;
}
.partner {
    background-color: grey;
    border-bottom: 5px solid;
    border-color: black;
}
.messages {
    overflow-y: scroll;
}